<h2>Welcome to the BabySitter Rate Calculator!</h2>

<form asp-action="Calculate" asp-controller="Home">
    <label for="appt">Choose a start time for your shift:</label>

    <input type="time" id="StartTime" name="StartTime" />
    <input type="date" id="StartDate" name="StartDate" />

    <label for="appt">Choose an end time for your shift:</label>

    <input type="time" id="EndTime" name="EndTime" />
    <input type="date" id="EndDate" name="EndDate" />

    <fieldset>
        <p>
            <label>Choose a family:</label>
            <select id="ShiftFamily" name="ShiftFamily">
                <option value="familyA">Family A</option>
                <option value="familyB">Family B</option>
                <option value="familyC">Family C</option>
            </select>
        </p>
    </fieldset>
    <input type="submit" />
</form>